/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: small;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.smile {
	width: 100%; 
    height: 24px; 
}

.mymsg {
	/*padding: 5pt;
	margin: 2pt; */
	background: #F0FAE6;
	color: #191970;
}

.usermsg {
	padding: 5pt;
	margin: 2pt; 
	background: #e6e6fa;
	color: #483d8b;
}

.groupchat_t1 {
	background: #e6e6fa;
	color: #483d8b;
}

.groupchat_t2 {
	background: #F0FAE6;
	color: #191970;
}

.vip {
	background: #ffd4d4;
	color: black;
}

.status {
	background: #faf0e6;
	color: #ff4500;
}

.me {
	background: #ffffcc;
	color: #442000;
}


.conf_status /*ñòàòóñû â êîíôåðåíöèè*/
{
	background: white;
	color: #b9b9b9;
}

.trumb {
	background: #993333;
	color: white;
}


BODY { overflow-X: hidden }

img {
	vertical-align: middle;
}